numpy==1.19.5
pyyaml==5.4.1
scipy==1.5.2
matplotlib==3.3.3
markdown==3.3.4
scikit-image==0.16.2
pytorch-lightning==0.7.5
flake8==3.9.2
setuptools==45.3.0
pyarmor==6.4.0
pre-commit==2.17.0
scikit-learn==1.1.2